
.texto{
    color: rgb(199, 194, 194);
    font-size: 13px;
}
.titulo{
    font-size: 20px;
}
.imagen1{
    background-image: url("/src/assets/icon-supervisor.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    float: right;
    margin-right: 20px;
}
.imagen2{
    background-image: url("/src/assets/icon-team-builder_1.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    float: right;
    margin-right: 20px;
}
.imagen3{
    background-image: url("/src/assets/icon-karma_1.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    float: right;
    margin-right: 20px;
}
.imagen4{
    background-image: url("/src/assets/icon-calculator.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    float: right;
    margin-right: 20px;
}