body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.title {
  text-align: center;
}

.title1 {
  font-size: 25px;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.title2 {
  font-size: 25px;
}

.text {
  color: hsl(229, 6%, 66%);
  Font-size: 15px
}

/*card*/
.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
 padding-bottom: 50px;
}

.card1,
.card2,
.card3,
.card4 {
  border: 1px solid rgb(236, 230, 230);
  width: 400px;
  height: 200px;                        
  padding-left: 25px;
  margin-left: 20px;
  box-shadow: 10px 10px 5px rgb(240, 234, 234);
   font-size: 12px;
}

.contenedor2 {
  flex-direction: column;
}

.card1 {
  border-top: 4px solid rgb(12, 243, 193);
  border-radius: 5px;
}

.card2 {
  border-top: 4px solid rgb(247, 7, 7);
  border-radius: 5px;
}

.card3 {
  margin-top: 20px;
  border-top: 4px solid rgb(248, 153, 11);
  border-radius: 5px;
}

.card4 {
  border-top: 4px solid rgb(39, 16, 247);
  border-radius: 5px;
}

/*mobile*/

@media (max-width: 390px) {
  .container{
   
    flex-direction: column;
  }
  .card1{
    margin-bottom: 20px;
  }
  .card1,
.card2,
.card3,
.card4 {
  width: 275px;
}
.card3{
  margin-bottom: 20px;
}
.title1{
  margin-bottom: 0px;
}.title2{
  margin-top: 0px;
}

}